body {
  background: #5B2C6F;
  font-family: sans-serif;
  font-weight: lighter;
  color: #E8DAEF;
  margin: 0 auto;
  padding: 1.5rem;
  width: auto;
  max-width: 960px;
  position: relative;
}

header, figure, footer, #container {
  text-align: center;
}

a {
  color: #76D7C4;
}

#h01 {
  font-size: 45px;
  text-shadow: #8954EC 0.1em 0.1em 0.2em
}

#h02 {
  font-size: 45px;
  text-shadow: #8954EC 0.1em 0.1em 0.2em
}

#imagem {
  width: 100%;
  max-width: 180px;
}

.button {
  border: none;
  border-radius: 10px;
  background-color: #F7DC6F;
  margin: 2rem;
  padding: 1rem;
  width: 180px;
  font-weight: bold;
  font-size: 1rem;
}

.button span {
  cursor: pointer;
  display: incline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button1 {
  border: none;
  border-radius: 10px;
  background-color: #F1948A;
  margin: 2rem;
  padding: 1rem;
  width: 180px;
  font-weight: bold;
  font-size: 1rem;
}

.button1 span {
  cursor: pointer;
  display: incline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

footer {
  margin-top: 20rem;
  line-height: 1.2rem;
}

footer address {
  font-size: 0.8rem;
}

footer small {
  font-size: 0.8rem;
}

table {
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #FFFFFF;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  box-shadow: 0 0 3px 1px white;
  color: #28282A;
}

tr:nth-child(even) {
  background: #F2F2F6;
}

th {
  background: #2C135A;
  color: white;
}

.cadastro {
  width: auto;
  max-width: 960px;
  text-align: center;
}

.mb-1 {
  position: absolute;
  text-align: left;
}

.mb-2 {
  position: relative;
  margin: 1.5rem;
}


input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 2px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 3px 1px white;
}

#mb-1 {
  font-size: 45px;
  text-shadow: black 0.1em 0.1em 0.2em

}

#mb-3 {
  cursor: pointer;
}
